{% extends 'main/base.html' %}




{% block footer %}
<p>Удобные инструменты позволяющие вашему бизнесу
    быть в курсе и оперативно реагировать на пожелания клиента
</p>
{% endblock %}

{% block header %}
UNICORN SYSTEM
<p style="font-size: 20px; text-align: center;">Удобные инструменты как для вашего бизнеса так и клиента</p>
{% endblock %}



{% block interface %}
<div style="margin-top: 50%;">
    <a href="orgName"><p class="buy-corner">Войти</p></a>
    <a href="register"><p class="buy-corner">Регистрация</p></a>
</div>
{% endblock %}